.main {
  width: 100%;
  max-width: 480px;
  margin: 180px auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link {
  color: var(--interface-accent, #4c4cff);
  text-decoration: none;
}

.button {
  align-self: center;
}
