.card {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 208px;
  max-height: 216px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: var(--background-alt);
  box-shadow: var(--shadow);
  transition: var(--common-transition);
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-primary-color);
  cursor: pointer;
  gap: 8px;
  text-decoration: none;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  margin-top: auto;
}

@media (width<768px) {
  .card {
    height: 240px;
    max-height: 240px;
    text-align: center;
  }
}
