.order_container {
  max-height: 70vh;
  overflow-y: auto;
}

.stats_container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.main {
  box-sizing: border-box;
}

.content {
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(auto, 600px) minmax(auto, 584px);
}

@media (width < 992px) {
  .content {
    justify-content: stretch;
    grid-template-columns: minmax(320px, auto);
  }

  .order_container {
    max-height: 80vh;
  }

  .title {
    text-align: center;
  }
}
