.main {
  display: flex;
  margin: 180px 0 0;
  gap: 60px;
}

.nav {
  width: 100%;
  max-width: 320px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.text {
  opacity: 0.4;
}
