.ingredient {
  display: flex;
  align-items: center;
  cursor: grab;
  gap: 8px;
  transition: var(--common-transition);
}

.element {
  box-shadow: var(--shadow);
}

@media (width < 768px) {
  .ingredient {
    gap: 0;
  }

  .element {
    padding: 16px 8px 16px 0;
    border-radius: 0;
    border-bottom: 2px solid var(--background-element);
    background-color: var(--background-alt);
    box-shadow: none;
  }

  .element span img {
    width: 52px;
    margin-right: 8px;
    object-fit: cover;
  }

  .element span span {
    margin: 0 8px 0 0;
  }

  .element span span:last-child {
    padding: 0;
    margin: 0;
  }
}
