.container {
  position: relative;
  overflow: auto;
  width: 100%;
  max-width: 720px;
  border-radius: var(--common-border-radius-s);
  background: var(--background);
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
}
