.ingredient_image {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  padding: 4px 0;
  border: 2px solid var(--colors-interface-accent);
  border-radius: 50%;
  background-color: var(--background-alt);
  object-fit: contain;
}

.ingredient_title {
  flex-grow: 1;
}

.ingredient_count {
  flex-shrink: 0;
}

.ingredient_price {
  display: flex;
  align-items: center;
  gap: 8px;
}
