.links {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav {
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  display: flex;
  align-items: center;
  color: var(--text-primary-light-standart-text);
  text-decoration: none;
}

li:first-child {
  margin-left: 0;
}

li:last-child {
  margin-left: auto;
}
